<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>学IT - 后台管理系统</title>
    <?php include('./public/style.html');?>
</head>

<body>

    <!-- 登录 -->
    <div class="login">
        <div class="login-wrap">
            <!-- <div class="avatar">
                <img src="./uploads/monkey.png" class="img-circle" alt="" />
            </div> -->

            <h1>Login</h1>

            <form action="" id="form">

                <div class="textbox">      
                   <i class="fa fa-user"></i>
                   <input type="text" placeholder="Username" name="tc_name" autocomplete="off"/>
                </div>

                <div class="textbox">
                    <i class="fa fa-key"></i>
                    <input type="password" placeholder="Password" name="tc_pass"/>
                </div>

                <button type="submit" class="btn"> Sign in</button>
            </form>
        </div>
    </div>



    <?php include('./public/script.html');?>

    <script>
        require(['login']);
    </script>
</body>

</html>