<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include('./public/style.html');?>
    <style>
     .info{
         display: none;
     }
    </style>
</head>
<style>
 #upfileView{
     height: 50px;
     width: 50px;
 }

 /* .swfupload{
    display: none;
 } */
</style>

<body>

    <!-- 侧边栏 -->
    <?php include('./public/aside.html');?>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <?php include('./public/header.html');?>
            <!-- 讲师资料 -->
            <div class="body teacher-profile">
                <div class="settings" id="profileInfo">
                    <!-- 坑 -->
                </div>
            </div>
        </div>
    </div>

    <script id="profileTpl" type="text/art-template">
        <form action="" class="form-horizontal" id="profileForm">
           <input type="hidden" name="tc_id" value="{{tc_id}}">
            
            <div class="form-group">
                <label for="" class="col-xs-3 control-label">姓名</label>
                <div class="col-xs-5">
                    <input type="text" 
                           class="form-control 
                           input-sm" 
                           value="{{tc_name}}"
                           data-required
                           data-describedby ="for_tc_name"
                           data_description ="required">
                </div>
                <span id="for_tc_name"></span>
            </div>
            <div class="form-group">
                <label for="./images/default.png" class="col-xs-3 control-label">头像</label>
                <div class="col-xs-2 preview">

                    <div id="fileList" class="uploader-list"></div>
                    <div id="filePicker">选择图片</div>
                    
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-3 control-label">昵称</label>
                <div class="col-xs-5">
                    <input type="text" 
                           class="form-control 
                           input-sm" name="tc_roster" 
                           value="{{tc_roster}}"
                           data-required
                           data-describedby ="for_tc_roster"
                           data_description ="required">
                </div>
                <span id="for_tc_roster"></span>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-3 control-label">性别</label>
                <div class="col-xs-3">
                    <label class="radio-inline">
                        <input type="radio" 
                               name="tc_gender" value="0" 
                               {{if tc_gender == 0}}checked{{/if}}
                               data-required
                               data-describedby ="for_tc_gender1"
                               data_description ="required"> 男
                    </label>
                    <span id="for_tc_gender1"></span>
                    <label class="radio-inline">
                        <input type="radio" 
                               name="tc_gender" 
                               value="1" {{if tc_gender == 1}}checked{{/if}}
                               data-required
                               data-describedby ="for_tc_gender"
                               data_description ="required"> 女
                    </label>
                    <span id="for_tc_gender"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-3 control-label">出生日期</label>
                <div class="col-xs-5">
                    <input type="text" 
                           class="form-control input-sm" 
                           name="tc_birthday" 
                           value="{{tc_birthday}}"
                           data-provide = "datepicker"
                           data-date-format = "yyyy-mm-dd"
                           data-date-language="zh-CN"
                           
                           data-required
                           data-describedby ="for_tc_birthday"
                           data_description ="required">
                </div>
                <span id="for_tc_birthday"></span>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-3 control-label">籍贯</label>
                <div class="col-xs-5" id="selectHome">
                    <select id="p" 
                            class="form-control input-sm" 
                            data-id="{{tc_province}}"
                            name="tc_province"
                            data-required
                            data-describedby ="for_tc_province" 
                            data_description ="required">
                        <option value="" >请输入省/直辖市</option>
                        <span id="for_tc_province"></span>
                    </select>
                    <select id="c" 
                            class="form-control 
                            input-sm" 
                            data-id="{{tc_city}}"
                            name="tc_city"
                            data-required
                            data-describedby ="for_tc_city"
                            data_description ="required">
                        <option value="">请输入城市</option>
                        <span id="for_tc_city"></span>
                    </select>
                    <select id="d"
                            class="form-control input-sm" 
                            data-id="{{tc_district}}"
                            name="tc_district"
                            data-required
                            data-describedby ="for_tc_district"
                            data_description ="required">
                        <option value="">请输入街区</option>
                        <span id="for_tc_district"></span>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-3 control-label">手机号码</label>
                <div class="col-xs-5">
                    <input type="text" 
                           class="form-control input-sm" name="tc_cellphone" 
                           value="{{tc_cellphone}}"
                           data-required
                           data-describedby ="for_tc_cellphone"
                           data_description ="required">
                </div>
                <span id="for_tc_cellphone"></span>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-3 control-label">电子邮箱</label>
                <div class="col-xs-5">
                    <input type="text" 
                           class="form-control 
                           input-sm" name="tc_email" 
                           value="{{tc_email}}"
                           data-required
                           data-describedby = "for_tc_email"
                           data-description = "required">
                </div>
                <span id="for_tc_email"></span>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-3 control-label">入职日期</label>
                <div class="col-xs-5">
                    <input type="text" 
                           class="form-control input-sm" 
                           name="tc_join_date" 
                           value="{{tc_join_date}}"
                           data-required
                           data-describedby = "for_tc_join_date"
                           data-description = "require">
                </div>
                <span id="for_tc_join_date"></span>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-3 control-label">个人介绍</label>
                <div class="col-xs-5 ckeditor">
                    <textarea rows="15" class="form-control input-sm" 
                              name="tc_introduce" id="tc_introduce"
                              data-required
                              data-describedby = "for_tc_introduce"
                              data-description = "require">{{tc_introduce}}</textarea>
                </div>
                <span id="for_tc_introduce"></span>
            </div>
            <div class="form-group">
                <div class="col-xs-8">
                        <!-- href="./course_add" -->
                    <a class="btn btn-success btn-sm pull-right" id="btn">保 存</a>
                    <a href="./repass" class="btn btn-link btn-sm pull-right">更改密码？</a>
                </div>
            </div>
        </form>


    </script>

    <?php include('./public/script.html');?>

    <script>
       require(['setting']);
    </script>
</body>
   
</html>